@font-face
  font-family: 'Muller Regular'
  src: url('../fonts/MullerRegular.eot') format('eot'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype')
@font-face
  font-family: 'Muller Medium'
  src: url('../fonts/MullerMedium.eot') format('eot'), url('../fonts/MullerMedium.woff') format('woff'), url('../fonts/MullerMedium.ttf') format('truetype')
@font-face
  font-family: 'Muller Extra Bold'
  src: url('../fonts/MullerExtraBold.eot') format('eot'), url('../fonts/MullerExtraBold.woff') format('woff'), url('../fonts/MullerExtraBold.ttf') format('truetype')
@font-face
  font-family: 'Muller Bold'
  src: url('../fonts/MullerBold.eot') format('eot'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf') format('truetype')


*
  box-sizing: border-box
  outline: none
ul
  list-style: none
  margin: 0
  padding: 0
img
  max-width: 100%
body, p
  margin: 0
  padding: 0
.container
  width: 90%
  max-width: 1340px
  margin: 0 auto
.button
  color: #ffffff
  font-family: "Muller Regular"
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  text-decoration: none
  height: 40px
  border-radius: 20px
  background: #3c8a08
  text-align: center
  line-height: 40px


#our_works
  padding-top: 65px
  padding-bottom: 65px
  overflow-x: hidden
  .container
    position: relative
    .next
      position: absolute
      right: 0
      top: 50%
      z-index: 999
      cursor: pointer
      transform: translate(-50%, -50%)
    .prev
      left: 25px
      position: absolute
      top: 50%
      z-index: 999
      cursor: pointer
      transform: translate(-50%, -50%)
  .work_wrap
    padding: 0px 70px
    .work_item
      padding-bottom: 20px
      margin-right: 10px
      img
        display: block
        padding: 5px
        margin: 0 auto
        border: 1px solid #b2b2b2
        box-shadow: -1px 20px 16px -17px rgba(0,0,0,0.29)

#sertific
  background: #d7e0e4
  padding: 50px 0px 55px 0px
  .sertific_wrap
    display: flex
    justify-content: space-between
    .sertific_item.sm
      max-width: 360px
      .h4
        color: #3a6f88
    .photo_sertificate.sertific_item
      max-width: 290px
      position: relative
      .photo_srtif
        position: relative
      .prev, .next
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        bottom: 0
        width: 50px
        height: 50px
        background: #000000
        text-align: center
      .next
        right: 0px
      .prev
        right: 50px

    .sertific_item
      max-width: 380px
      display: flex
      flex-direction: column
      justify-content: space-between
      img
        margin: 0 auto
        display: block
      .h4
        color: #202124
        font-family: "Muller Extra Bold"
        font-size: 45px
        text-transform: uppercase
        margin-bottom: 25px
      p
        margin-bottom: 10px
        color: #202124
        font-family: "Muller Regular"
        font-size: 18px
        line-height: 24px
        &:last-child
          //margin-bottom: 0
      a.button
        width: 175px
#partners
  padding: 100px 0px 125px 0px
  background: url("../img/bath.jpg") no-repeat center / cover
  .container
    display: flex
    justify-content: flex-end
  .partner_block
    padding: 30px 55px 28px 55px
    max-width: 555px
    background: #3a6f88
    .h5
      color: #ffffff
      font-family: "Muller Extra Bold"
      font-size: 36px
      font-weight: 400
      line-height: 36px
      max-width: 225px
    p
      color: #ffffff
      margin-top: 25px
      margin-bottom: 20px
      font-family: "Muller Regular"
      font-size: 18px
      font-weight: 400
      max-width: 450px
    a
      display: inline-block
      width: 177px
      height: 40px
      line-height: 40px
      border-radius: 20px
      padding: 12px 0px
      text-align: center
      background: #3c8a08
      text-decoration: none
      color: #ffffff
      font-family: "Muller Regular"
      font-size: 14px
      font-weight: 400
      line-height: 18px
      text-transform: uppercase
//WHY_SECTION
#whyWe
  .main_info-why
    .main_why-item
      margin-bottom: 45px
      p
        color: #333333
        font-family: "Muller Regular"
        font-size: 14px
        //font-weight: bold
      h2
        color: #3c8a08
        font-family: "Muller Extra Bold"
        font-size: 24px
        margin-bottom: 30px
        text-transform: uppercase
      h3
        color: #3a6f88
        font-family: "Muller Extra Bold"
        font-size: 18px
        margin-bottom: 20px
        text-transform: uppercase
#whyWe
  padding: 75px 0px
  .h3
    color: #202124
    font-family: "Muller Extra Bold"
    font-size: 45px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
    text-align: center
  .h6
    color: #202124
    margin-top: 25px
    margin-bottom: 45px
    font-family: "Muller Bold"
    font-size: 18px
    font-weight: 400
    line-height: 24px
    text-align: center
  .advantages_wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
    .advantages_item
      display: flex
      .adv_info
        max-width: 210px
        margin-left: 25px
        &-head
          color: #202124
          font-family: "Muller Regular"
          font-size: 24px
          font-weight: 400
          line-height: 24px
          margin-bottom: 30px
        &-body
          color: #202124
          font-family: "Muller Regular"
          font-size: 15px
          font-weight: 400
          line-height: 18px
  .why_form
    margin-top: 75px
    padding: 45px 60px 65px 60px
    background: url(../img/why.jpg) no-repeat 0% 0% / cover
    .h5
      color: #202124
      font-family: "Muller Extra Bold"
      font-size: 48px
      font-weight: 400
      line-height: 48px
      max-width: 480px
    p
      color: #ffffff
      font-family: "Muller Regular"
      font-size: 18px
      font-weight: 400
      max-width: 355px
      margin-top: 15px
      margin-bottom: 25px
      line-height: 24px
    .field_group
      display: flex
      align-items: center
      input
        box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.09)
        border: 1px solid #b2b2b2
        background-color: #ffffff
        width: 315px
        color: #5a5b5d
        font-family: "Muller Regular"
        font-size: 18px
        height: 38px
        margin-right: 20px
        padding: 0px 10px
        border-radius: 4px
      button
        background: #3c8a08
        color: #ffffff
        font-family: "Muller Regular"
        font-size: 14px
        font-weight: 400
        text-transform: uppercase
        border: 1px solid #3c8a08
        text-align: center
        height: 38px
        padding-left: 50px
        padding-right: 50px
        border-radius: 20px
        cursor: pointer
//map
#map
  overflow-x: hidden
  img
    display: block
    margin: 0 auto
    width: 100%
//footer
footer
  .foot_feedback
    background: #3a6f88
    padding: 38px 0px 38px 0px
    .container
      display: flex
      justify-content: space-between
    .feedback-company
      max-width: 230px
      p.pol
        margin: 20px 0px
      p
        color: #84d5fb
        font-family: "Muller Regular"
        font-size: 12px
        font-weight: 400
        line-height: 14px
        span
          display: block
          color: #ffffff
          font-family: "Muller Regular"
          font-size: 12px
          font-weight: 400
          line-height: 14px
    .feedback_contacts
      background: #244455
      padding: 30px
      display: flex
      max-width: 937px
      .vk_item
        display: flex
        align-items: center
        span
          display: inline-block
          margin-right: 20px
          color: #ffffff
          font-family: "Muller Extra Bold"
          font-size: 14px
          font-weight: 400
          line-height: 30px
          text-transform: uppercase
      .contact_item
        width: 25%
        .contact_head-it
          color: #70c5ec
          font-family: "Muller Extra Bold"
          font-size: 15px
          font-weight: 400
          margin-bottom: 15px
        p
          color: #ffffff
          font-family: "Muller Regular"
          font-size: 14px
          font-weight: 400
          line-height: 24px
        p.address
          line-height: 18px
        a
          display: block
          color: #ffffff
          font-family: "Muller Regular"
          font-size: 14px
          font-weight: 400
          line-height: 24px
          text-decoration: none

  .foot_menu
    background: #d8d8d8
    padding: 30px 0px 40px 0px
    &_nav
      ul
        display: flex
        align-items: center
        justify-content: space-between
        a
          text-decoration: none
          color: #244455
          font-family: "Muller Extra Bold"
          font-size: 12px
          text-transform: uppercase
          letter-spacing: 1.2px
        li.dev a
          display: flex
          align-items: center
          span
            display: inline-block
            text-align: right
            margin-right: 10px


@media all and (max-width: 992px)

  footer .foot_menu_nav ul li
    display: none
  footer .foot_menu_nav ul li.dev
    display: block
    margin: 0 auto
    text-align: center
  footer .foot_feedback .container
    flex-direction: column
  footer .foot_feedback .feedback-company
    max-width: 100%
    margin-bottom: 15px
  #whyWe .why_form .field_group input
    width: 220px
    margin-right: 10px
  #whyWe .why_form
    padding: 45px 20px 65px 20px
    //background: url(../img/why.jpg) no-repeat 100% 0% / cover
@media all and (max-width: 768px)
  #partners .container
    justify-content: center
  #whyWe .advantages_wrap
    flex-direction: column
  #whyWe .advantages_wrap .advantages_item .adv_info
    max-width: 100%
  #whyWe .advantages_wrap .advantages_item .adv_info-head
    margin-bottom: 10px
  #whyWe .advantages_wrap .advantages_item
    margin-bottom: 15px
  #whyWe .advantages_wrap .advantages_item .adv_img
    min-width: 62px
  #whyWe .advantages_wrap .advantages_item .adv_img img
    max-width: none
  #whyWe .why_form
    background: #3a6f88
  #whyWe .why_form .field_group input
  #whyWe .why_form .h5
    max-width: 100%
  #whyWe .why_form p
    max-width: 100%
  #whyWe .why_form .field_group
    flex-direction: column
    align-items: flex-start
  #whyWe .why_form .field_group input
    width: 50%
    margin-bottom: 10px
  footer .foot_feedback .feedback_contacts
    flex-wrap: wrap
  footer .foot_feedback .feedback_contacts .contact_item
    width: 50%
@media all and (max-width: 576px)
  #partners .partner_block a
    display: block
    margin: 0 auto
  #partners .partner_block .h5
    max-width: auto
  #partners .partner_block
    padding: 30px 30px 28px 30px
  #whyWe .h3
    font-size: 34px
  footer .foot_feedback .feedback_contacts .contact_item
    width: 100%
    margin-bottom: 20px
  #whyWe .why_form .field_group input
    width: 100%
  #whyWe .why_form .field_group button
    width: 100%
  #whyWe .why_form .h5
    font-size: 26px
    line-height: 30px