@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegular.eot") format("eot"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Medium";
  src: url("../fonts/MullerMedium.eot") format("eot"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Extra Bold";
  src: url("../fonts/MullerExtraBold.eot") format("eot"), url("../fonts/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Bold";
  src: url("../fonts/MullerBold.eot") format("eot"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype");
}
.services .container .services-item-hidden::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b4d0b8;
  position: absolute;
  top: 11px;
  left: 0;
}

.bdovhidden {
  overflow: hidden;
}

.brn {
  border-right: none !important;
}

#popup {
  background: #fff;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 40px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid #000;
}
#popup .close_popup {
  cursor: pointer;
  font-family: "Muller Extra Bold";
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
}
#popup .h4 {
  font-family: "Muller Extra Bold";
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#popup input {
  display: block;
  width: 100%;
  color: #7e8284;
  font-family: "Muller Regular";
  padding: 5px 15px;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.99px;
}

#side-menu {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(78, 78, 78, 0.65);
  z-index: 101;
}
#side-menu ul {
  width: fit-content;
  height: 100%;
  padding: 25px;
  padding-top: 80px;
  background-color: #3d697e;
}
#side-menu ul li {
  min-width: 331px;
  padding-left: 20px;
  cursor: pointer;
}
#side-menu ul li a {
  text-decoration: none;
  color: #aebfc7;
  font-family: "Muller Extra Bold";
  font-size: 17px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 100%;
}
#side-menu ul li:hover {
  background-color: #174a63;
}
#side-menu ul li:hover a {
  color: white;
}
#side-menu #menuExit {
  position: absolute;
  left: 390px;
  top: 10px;
  cursor: pointer;
}

.dpn {
  display: none;
}

.sim {
  background-color: #3a6f88;
}
.sim .services-item-visible-name img {
  display: none;
}
.sim .services-item-visible-name .alt-image {
  display: block;
}
.sim .services-item-visible-name p {
  color: white;
}
.sim .services-item-visible-butt {
  display: none;
}

.alt-image {
  display: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body, p {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1340px;
  margin: 0 auto;
}

.button {
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  height: 40px;
  border-radius: 20px;
  background: #3c8a08;
  text-align: center;
  line-height: 40px;
}

.breadcums {
  padding: 15px 0;
  background-color: #dddddd;
}
.breadcums .container ul li {
  font-family: "Muller Regular";
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}
.breadcums .container ul li:last-child a {
  color: #828282;
}
.breadcums .container ul li a {
  text-decoration: none;
  color: #3a6f88;
}

.opis {
  padding: 36px 0 40px 0;
}
.opis .container p {
  font-family: "Muller Extra Bold";
  font-size: 36px;
  text-transform: uppercase;
}
.opis .container .hr-hl {
  width: 96px;
  height: 5px;
  background-color: rgba(49, 112, 143, 0.95);
  margin-top: 9px;
  margin-bottom: 20px;
}
.opis .container span {
  display: block;
  font-family: "Muller Regular";
  font-size: 14px;
  margin-bottom: 20px;
}

.price-list {
  padding-bottom: 70px;
}
.price-list .container .p {
  color: #3c8a08;
  font-family: "Muller Extra Bold";
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.price-list .container .price-list-wrapper {
  display: flex;
  justify-content: space-between;
}
.price-list .container .price-list-wrapper .price-list-item {
  position: relative;
  width: fit-content;
  border: 1px solid #b2b2b2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px 23px 21px 23px;
  box-shadow: -1px 20px 16px -17px rgba(0, 0, 0, 0.29);
  transition: all 0.3s ease;
}
.price-list .container .price-list-wrapper .price-list-item:hover {
  transform: translateY(-10px);
  box-shadow: 11px 10px 10px 1px rgba(0, 0, 0, 0.29);
}
.price-list .container .price-list-wrapper .price-list-item .sale {
  position: absolute;
  right: 15px;
  top: 50px;
}
.price-list .container .price-list-wrapper .price-list-item p {
  font-family: "Muller Extra Bold";
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}
.price-list .container .price-list-wrapper .price-list-item span {
  display: block;
  font-family: "Muller Regular";
  font-size: 16px;
  margin-bottom: 15px;
}
.price-list .container .price-list-wrapper .price-list-item ul {
  margin-bottom: 18px;
}
.price-list .container .price-list-wrapper .price-list-item ul li {
  font-family: "Muller Regular";
  color: #3a6f88;
}
.price-list .container .price-list-wrapper .price-list-item .price {
  margin: 0 auto;
}
.price-list .container .price-list-wrapper .price-list-item .price p {
  font-family: "Muller Regular";
  font-size: 16px;
}
.price-list .container .price-list-wrapper .price-list-item .price p span {
  display: inline-block;
  color: #3c8a08;
  font-family: "Muller Extra Bold";
  font-size: 24px;
}
.price-list .container .price-list-wrapper .price-list-item a {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 177px;
  height: 39px;
  border-radius: 20px;
  outline: none;
  background-color: #3c8a08;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 14px;
  text-transform: uppercase;
}

.lets-start {
  padding-bottom: 75px;
}
.lets-start-h {
  text-align: center;
  margin-bottom: 25px;
  color: #3a6f88;
  font-family: "Muller Extra Bold";
  font-size: 24px;
  text-transform: uppercase;
}
.lets-start .container {
  padding: 50px 5px;
  background-color: #3a6f88;
}
.lets-start .container .order-list {
  display: flex;
  justify-content: space-around;
}
.lets-start .container .order-list-item {
  display: flex;
}
.lets-start .container .order-list-item .numb {
  color: #3a6f88;
  font-family: "Muller Extra Bold";
  font-size: 30px;
  width: 46px;
  height: 46px;
  border-radius: 46px;
  background-color: #c2d6e0;
  text-align: center;
  line-height: 50px;
  margin-right: 20px;
}
.lets-start .container .order-list-item .text p {
  color: #ffffff;
  font-family: "Muller Extra Bold";
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 10px;
}
.lets-start .container .order-list-item .text span {
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 12px;
  max-width: 230px;
  display: inline-block;
}

.mihail {
  padding-bottom: 75px;
}
.mihail .container {
  background-color: #d7e0e4;
  display: flex;
  min-height: 253px;
  padding-right: 65px;
  justify-content: space-between;
}
.mihail .container .img img {
  height: 100%;
}
.mihail .container .text {
  font-family: "Muller Extra Bold";
  margin-left: -280px;
  padding-top: 30px;
}
.mihail .container .text p {
  font-size: 36px;
  color: #3a6f88;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.mihail .container .text span {
  display: block;
  color: #3a6f88;
  font-family: "Muller Regular";
  font-size: 18px;
  max-width: 450px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.mihail .container .text .bot-text {
  text-transform: none;
  font-size: 18px;
  color: #3a6f88;
  max-width: 456px;
}
.mihail .container form {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.mihail .container form p {
  color: #202124;
  font-family: "Muller Extra Bold";
  font-size: 18px;
  text-transform: uppercase;
}
.mihail .container form .hr-hl {
  width: 96px;
  height: 5px;
  margin-top: 5px;
  margin-bottom: 17px;
  background-color: #3a6f88;
}
.mihail .container form input {
  width: 316px;
  height: 38px;
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.09);
  color: #202124;
  font-family: "Muller Regular";
  font-size: 18px;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  padding: 0 11px;
  outline: none;
  margin-bottom: 11px;
}
.mihail .container form button {
  width: 263px;
  height: 39px;
  background-color: #3c8a08;
  outline: none;
  border: none;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 14px;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 10px;
}

#district .acard_ul {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
#district .acard_ul li {
  display: block;
  cursor: pointer;
  margin-right: 1px;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 16px;
  padding: 15px 18px;
  background: #3a6f88;
  width: 244px;
}
#district .acard_ul li.active {
  background: #3c8a08;
}
#district .acard_ul li.akcia {
  background: #ff0060;
  text-transform: uppercase;
  font-family: "Muller Extra Bold";
}
#district .district_bg {
  background: #c2d6e0;
  padding: 20px 0px 25px 0px;
}
#district .district_bg .offer_dist {
  display: flex;
  justify-content: space-between;
}
#district .district_bg .offer_dist .list_distr .distr_ban {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background: #3c8a08;
  padding: 15px 10px 20px 15px;
}
#district .district_bg .offer_dist .list_distr .distr_ban .time_ban {
  margin-right: 15px;
}
#district .district_bg .offer_dist .list_distr .distr_ban p.ban-aft {
  margin-right: 40px;
  position: relative;
}
#district .district_bg .offer_dist .list_distr .distr_ban p.ban-aft:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 32px;
  background-color: #c2d6e0;
}
#district .district_bg .offer_dist .list_distr .distr_ban p {
  color: #ffffff;
  font-family: "Muller Extra Bold";
  font-size: 22px;
}
#district .district_bg .offer_dist .list_distr .distr_ban p strong {
  color: #ffffff;
  font-family: "Muller Extra Bold";
  font-size: 39px;
  text-transform: uppercase;
}
#district .district_bg .offer_dist .list_distr .offer_distr {
  display: flex;
}
#district .district_bg .offer_dist .list_distr .offer_distr .point_distr-l {
  margin-right: 40px;
}
#district .district_bg .offer_dist .list_distr .offer_distr li {
  margin-bottom: 13px;
  color: #3a6f88;
  font-family: "Muller Regular";
  font-size: 16px;
  font-weight: 400;
}
#district .district_bg .offer_dist .list_distr .offer_distr li span {
  font-family: "Muller Extra Bold";
  text-transform: uppercase;
}
#district .district_bg .offer_dist .list_distr .h5 {
  color: #3a6f88;
  font-family: "Muller Extra Bold";
  font-size: 23px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

#our_works {
  padding-top: 65px;
  padding-bottom: 65px;
  overflow-x: hidden;
}
#our_works .h4 {
  color: #3a6f88;
  font-family: "Muller Extra Bold";
  text-align: center;
  margin-bottom: 35px;
  font-size: 36px;
  text-transform: uppercase;
}
#our_works .container {
  position: relative;
}
#our_works .container .next {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 999;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
#our_works .container .prev {
  left: 25px;
  position: absolute;
  top: 50%;
  z-index: 999;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
#our_works .work_wrap {
  padding: 0px 70px;
}
#our_works .work_wrap .work_item {
  padding-bottom: 20px;
  margin-right: 10px;
}
#our_works .work_wrap .work_item img {
  display: block;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid #b2b2b2;
  box-shadow: -1px 20px 16px -17px rgba(0, 0, 0, 0.29);
}

#sertific {
  background: #d7e0e4;
  padding: 50px 0px 55px 0px;
}
#sertific .sertific_wrap {
  display: flex;
  justify-content: space-between;
}
#sertific .sertific_wrap .sertific_item.sm {
  max-width: 360px;
}
#sertific .sertific_wrap .sertific_item.sm .h4 {
  color: #3a6f88;
}
#sertific .sertific_wrap .photo_sertificate.sertific_item {
  max-width: 290px;
  position: relative;
}
#sertific .sertific_wrap .photo_sertificate.sertific_item .photo_srtif {
  position: relative;
}
#sertific .sertific_wrap .photo_sertificate.sertific_item .prev, #sertific .sertific_wrap .photo_sertificate.sertific_item .next {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: #000000;
  text-align: center;
}
#sertific .sertific_wrap .photo_sertificate.sertific_item .next {
  right: 0px;
}
#sertific .sertific_wrap .photo_sertificate.sertific_item .prev {
  right: 50px;
}
#sertific .sertific_wrap .sertific_item {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sertific .sertific_wrap .sertific_item img {
  margin: 0 auto;
  display: block;
}
#sertific .sertific_wrap .sertific_item .h4 {
  color: #202124;
  font-family: "Muller Extra Bold";
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#sertific .sertific_wrap .sertific_item p {
  margin-bottom: 10px;
  color: #202124;
  font-family: "Muller Regular";
  font-size: 18px;
  line-height: 24px;
}
#sertific .sertific_wrap .sertific_item a.button {
  width: 175px;
}

#partners {
  padding: 100px 0px 125px 0px;
  background: url("../img/bath.jpg") no-repeat center/cover;
}
#partners .container {
  display: flex;
  justify-content: flex-end;
}
#partners .partner_block {
  padding: 30px 55px 28px 55px;
  max-width: 555px;
  background: #3a6f88;
}
#partners .partner_block .h5 {
  color: #ffffff;
  font-family: "Muller Extra Bold";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  max-width: 225px;
}
#partners .partner_block p {
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: "Muller Regular";
  font-size: 18px;
  font-weight: 400;
  max-width: 450px;
}
#partners .partner_block a {
  display: inline-block;
  width: 177px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  padding: 12px 0px;
  text-align: center;
  background: #3c8a08;
  text-decoration: none;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

#whyWe .main_info-why .main_why-item {
  margin-bottom: 45px;
}
#whyWe .main_info-why .main_why-item p {
  color: #333333;
  color: #333333;
  font-family: "Muller Regular";
  font-size: 14px;
}
#whyWe .main_info-why .main_why-item h2 {
  color: #3c8a08;
  font-family: "Muller Extra Bold";
  font-size: 24px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#whyWe .main_info-why .main_why-item h3 {
  color: #3a6f88;
  font-family: "Muller Extra Bold";
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#whyWe {
  padding: 75px 0;
}
#whyWe .h3 {
  color: #202124;
  font-family: "Muller Extra Bold";
  font-size: 45px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
#whyWe .h6 {
  color: #202124;
  margin-top: 25px;
  margin-bottom: 45px;
  font-family: "Muller Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
#whyWe .advantages_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#whyWe .advantages_wrap .advantages_item {
  display: flex;
}
#whyWe .advantages_wrap .advantages_item .adv_info {
  max-width: 210px;
  margin-left: 25px;
}
#whyWe .advantages_wrap .advantages_item .adv_info-head {
  color: #202124;
  font-family: "Muller Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}
#whyWe .advantages_wrap .advantages_item .adv_info-body {
  color: #202124;
  font-family: "Muller Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
#whyWe .why_form {
  margin-top: 75px;
  padding: 45px 60px 65px 60px;
  background: url(../img/why.jpg) no-repeat 0% 0%/cover;
}
#whyWe .why_form .h5 {
  color: #202124;
  font-family: "Muller Extra Bold";
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  max-width: 480px;
}
#whyWe .why_form p {
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 18px;
  font-weight: 400;
  max-width: 355px;
  margin-top: 15px;
  margin-bottom: 25px;
  line-height: 24px;
}
#whyWe .why_form .field_group {
  display: flex;
  align-items: center;
}
#whyWe .why_form .field_group input {
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.09);
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
  width: 315px;
  color: #5a5b5d;
  font-family: "Muller Regular";
  font-size: 18px;
  height: 38px;
  margin-right: 20px;
  padding: 0px 10px;
  border-radius: 4px;
}
#whyWe .why_form .field_group button {
  background: #3c8a08;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #3c8a08;
  text-align: center;
  height: 38px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  cursor: pointer;
}

#map {
  overflow-x: hidden;
}
#map img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

footer .foot_feedback {
  background: #3a6f88;
  padding: 38px 0px 38px 0px;
}
footer .foot_feedback .container {
  display: flex;
  justify-content: space-between;
}
footer .foot_feedback .feedback-company {
  max-width: 230px;
}
footer .foot_feedback .feedback-company p.pol {
  margin: 20px 0px;
}
footer .foot_feedback .feedback-company p {
  color: #84d5fb;
  font-family: "Muller Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
footer .foot_feedback .feedback-company p span {
  display: block;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
footer .foot_feedback .feedback_contacts {
  background: #244455;
  padding: 30px;
  display: flex;
  max-width: 937px;
}
footer .foot_feedback .feedback_contacts .vk_item {
  display: flex;
  align-items: center;
}
footer .foot_feedback .feedback_contacts .vk_item span {
  display: inline-block;
  margin-right: 20px;
  color: #ffffff;
  font-family: "Muller Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
footer .foot_feedback .feedback_contacts .contact_item {
  width: 25%;
}
footer .foot_feedback .feedback_contacts .contact_item .contact_head-it {
  color: #70c5ec;
  font-family: "Muller Extra Bold";
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
footer .foot_feedback .feedback_contacts .contact_item p {
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
footer .foot_feedback .feedback_contacts .contact_item p.address {
  line-height: 18px;
}
footer .foot_feedback .feedback_contacts .contact_item a {
  display: block;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
footer .foot_menu {
  background: #d8d8d8;
  padding: 30px 0px 40px 0px;
}
footer .foot_menu_nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .foot_menu_nav ul a {
  text-decoration: none;
  color: #244455;
  font-family: "Muller Extra Bold";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
footer .foot_menu_nav ul li.dev a {
  display: flex;
  align-items: center;
}
footer .foot_menu_nav ul li.dev a span {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

@media all and (max-width: 1165px) {
  #sertific .sertific_wrap {
    flex-wrap: wrap;
  }

  #sertific .sertific_wrap .sertific_item {
    margin-bottom: 25px;
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
header .container .logo-wrapper {
  display: flex;
  align-items: center;
}
header .container .logo-wrapper .menu-button {
  margin-right: 15px;
  cursor: pointer;
}
header .container .logo-wrapper .menu-button span {
  display: block;
  width: 44px;
  height: 2px;
  background-color: #202124;
  margin-bottom: 10px;
}
header .container .logo-wrapper .menu-button span:last-child {
  margin-bottom: 0;
}
header .container .logo-wrapper .logo {
  height: 56px;
}
header .container .info-wrapper {
  display: flex;
}
header .container .info-wrapper .info-item {
  color: #202124;
  font-family: "Muller Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
}
header .container .info-wrapper .info-item img {
  width: 16px;
  height: 9px;
  margin-right: 10px;
  margin-top: 5px;
  align-self: flex-start;
}
header .container .info-wrapper .info-item div p {
  font-weight: bold;
}
header .container .info-wrapper .info-item div span {
  display: block;
}
header .container .info-wrapper .info-phone img {
  width: 41px;
  height: 41px;
  margin-right: 15px;
}
header .container .info-wrapper .info-phone div .info-phone-number {
  font-family: "Muller Bold";
  font-size: 18px;
  font-weight: 400;
}
header .container .call-back-wrapper button {
  width: 178px;
  height: 39px;
  background-color: #3c8a08;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 20px;
}

.services {
  margin-top: 100px;
  background-color: #c2d6e0;
  padding: 0 0 80px 0;
}
.services .container {
  display: flex;
}
.services .container .services-item {
  padding-top: 18px;
  width: 25%;
  position: relative;
}
.services .container .services-item:last-child-visible {
  border-right: 0;
}
.services .container .services-item-hidden {
  z-index: 10;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 18px;
  line-height: 30px;
  text-decoration: underline;
  background-color: #3a6f88;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 35px;
}
.services .container .services-item-hidden a {
  text-decoration: none;
  color: #ffffff;
}
.services .container .services-item-visible {
  cursor: pointer;
  border-right: 1px solid rgba(32, 33, 36, 0.24);
  padding: 40px 20px 50px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
.services .container .services-item-visible:last-child {
  border-right: none !important;
}
.services .container .services-item-visible-name {
  display: flex;
}
.services .container .services-item-visible-name p {
  width: 145px;
  font-family: "Muller Extra Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.services .container .services-item-visible-name img {
  width: 38px;
  height: 33px;
  margin-right: 20px;
}

.sec-menu {
  margin-top: -68px;
}
.sec-menu .container {
  background-color: #3c8a08;
}
.sec-menu .container .sec-menu-wrapper {
  color: #ffffff;
  font-family: "Muller Extra Bold";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 21px 15px 30px;
}
.sec-menu .container .sec-menu-wrapper ul li {
  display: inline-block;
  margin-right: 50px;
}
.sec-menu .container .sec-menu-wrapper ul li a {
  text-decoration: none;
  color: #ffffff;
}
.sec-menu .container .sec-menu-wrapper form {
  position: relative;
}
.sec-menu .container .sec-menu-wrapper form input {
  width: 240px;
  height: 38px;
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.09);
  border: 1px solid #b2b2b2;
  padding-left: 20px;
  padding-right: 35px;
  color: #7e8284;
  font-family: "Muller Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 12.99px;
  outline: none;
}
.sec-menu .container .sec-menu-wrapper form img {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.actions-slider .container {
  position: relative;
}
.actions-slider .container .prev, .actions-slider .container .next {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(100% - 50px);
  width: 50px;
  height: 50px;
  background: #000000;
  text-align: center;
  z-index: 23;
}
.actions-slider .container .prev img, .actions-slider .container .next img {
  width: 16px;
  height: 27px;
  margin: 0 auto;
}
.actions-slider .container .next {
  left: calc(100% - 50px);
}
.actions-slider .container .prev {
  right: 50px;
}
.actions-slider .container .actions-slider-wrapper {
  position: relative;
}
.actions-slider .container .actions-slider-wrapper .actions-slider-item {
  height: 378px;
  width: 100%;
  background: url(../img/slide-bg.jpg) no-repeat center/cover;
  display: flex;
  align-items: center;
}
.actions-slider .container .actions-slider-wrapper .actions-slider-item-content {
  background-color: #202124;
  font-family: "Muller Regular";
  color: #ffffff;
  width: fit-content;
  padding: 20px 80px 10px 30px;
  margin-left: 60px;
}
.actions-slider .container .actions-slider-wrapper .actions-slider-item-content p {
  font-family: "Muller Extra Bold";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  max-width: 390px;
  margin-bottom: 25px;
}
.actions-slider .container .actions-slider-wrapper .actions-slider-item-content span {
  font-size: 30px;
  display: block;
  margin-bottom: 30px;
}
.actions-slider .container .actions-slider-wrapper .actions-slider-item-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  width: 150px;
  height: 39px;
  font-size: 13px;
  background-color: #3c8a08;
  border-radius: 20px;
}

.first-item {
  background-image: url("../img/batery.jpg");
}

.second-item {
  background-image: url("../img/fon2.png");
}

.third-item {
  background-image: url("../img/fon3.jpg");
}

.fourth-item {
  background-image: url("../img/fon4.jpg");
}

.we-offer {
  padding: 64px 0 80px 0;
}
.we-offer .container {
  display: flex;
}
.we-offer .container .we-offer-left {
  margin-right: 120px;
  width: fit-content;
  font-family: "Muller Regular";
  font-size: 15px;
}
.we-offer .container .we-offer-left p.h3 {
  font-family: "Muller Extra Bold";
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  width: 315px;
}
.we-offer .container .we-offer-left .hr-hl {
  width: 96px;
  height: 5px;
  background-color: rgba(49, 112, 143, 0.95);
  margin-bottom: 20px;
}
.we-offer .container .we-offer-left p.offer-text {
  width: 300px;
  margin-bottom: 40px;
}
.we-offer .container .we-offer-left img {
  margin-bottom: 20px;
}
.we-offer .container .we-offer-left p.h4 {
  font-family: "Muller Extra Bold";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.we-offer .container .we-offer-left form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.we-offer .container .we-offer-left form input {
  width: 316px;
  height: 38px;
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.09);
  border: 1px solid #b2b2b2;
  outline: none;
  padding: 0 10px;
  margin-bottom: 11px;
  border-radius: 5px;
}
.we-offer .container .we-offer-left form button {
  width: 263px;
  height: 39px;
  background-color: #3c8a08;
  border-radius: 20px;
  border: none;
  color: white;
  outline: none;
}
.we-offer .container .we-offer-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -10px;
}
.we-offer .container .we-offer-right-item {
  cursor: pointer;
  position: relative;
  margin: 10px;
  width: calc(50% - 20px);
  font-family: "Muller Regular";
  color: #ffffff;
  background-size: 100% 100%;
  padding: 36px 10px 72px 30px;
  transition: 0.5s;
}
.we-offer .container .we-offer-right-item:hover .bga {
  background-color: #003d5a;
  opacity: 0.8;
}
.we-offer .container .we-offer-right-item:hover .hr-hl {
  background-color: #71c9f3;
}
.we-offer .container .we-offer-right-item .bga {
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}
.we-offer .container .we-offer-right-item p {
  position: relative;
  font-family: "Muller Extra Bold";
  font-size: 29px;
  font-weight: 400;
  width: 170px;
  margin-bottom: 10px;
  z-index: 3;
}
.we-offer .container .we-offer-right-item .hr-hl {
  transition: 0.5s;
  position: relative;
  width: 96px;
  height: 5px;
  background-color: #3c8a08;
  margin-bottom: 30px;
  z-index: 2;
}
.we-offer .container .we-offer-right-item ul {
  position: relative;
  z-index: 2;
}
.we-offer .container .we-offer-right-item ul li {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 5px;
}
.we-offer .container .we-offer-right-item ul li a {
  text-decoration: none;
  color: white;
}

.who-we {
  background-color: #d7e0e4;
  padding: 60px 0;
}
.who-we .container {
  display: flex;
  justify-content: space-between;
}
.who-we .container .who-we-right {
  margin-left: 20px;
}
.who-we .container .who-we-right p {
  font-family: "Muller Extra Bold";
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.who-we .container .who-we-right span {
  display: block;
  font-family: "Muller Regular";
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 575px;
}
.who-we .container .who-we-right a {
  text-decoration: none;
  width: 177px;
  height: 39px;
  background-color: #3c8a08;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Muller Regular";
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.our-serv {
  padding: 90px 0;
}
.our-serv .container {
  display: flex;
}
.our-serv .container .our-serv-left {
  float: left;
  width: fit-content;
  color: #202124;
  font-family: "Muller Extra Bold";
  margin-right: 46px;
}
.our-serv .container .our-serv-left p {
  font-size: 45px;
  max-width: 200px;
}
.our-serv .container .our-serv-left .hr-hl {
  width: 96px;
  height: 5px;
  background-color: #3a6f88;
  margin-bottom: 20px;
}
.our-serv .container .our-serv-left span {
  font-size: 18px;
  width: 204px;
  display: block;
}
.our-serv .container .our-serv-right {
  width: calc(100% - 250px);
  display: flex;
}
.our-serv .container .our-serv-right .wrapper-slider-pr .item {
  display: flex;
}
.our-serv .container .our-serv-right-left {
  background: rgba(220, 220, 220, 0.66);
  width: 551px;
  padding: 30px 10px 60px 50px;
}
.our-serv .container .our-serv-right-left p {
  font-family: "Muller Extra Bold";
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.our-serv .container .our-serv-right-left ul li {
  margin-left: 10px;
  position: relative;
  font-family: "Muller Regular";
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 7px;
}
.our-serv .container .our-serv-right-left ul li::after {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  background-image: url("../img/dot.jpg");
}
.our-serv .container .our-serv-right-right {
  width: 50%;
  position: relative;
}
.our-serv .container .our-serv-right-right .prev, .our-serv .container .our-serv-right-right .next {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(100% - 50px);
  width: 50px;
  height: 50px;
  background: #000000;
  text-align: center;
  z-index: 23;
}
.our-serv .container .our-serv-right-right .prev img, .our-serv .container .our-serv-right-right .next img {
  width: 16px;
  height: 27px;
  margin: 0 auto;
}
.our-serv .container .our-serv-right-right .next {
  left: calc(100% - 50px);
}
.our-serv .container .our-serv-right-right .prev {
  right: 50px;
}
.our-serv .container .our-serv-right-right-item {
  position: relative;
  height: 100%;
}
.our-serv .container .our-serv-right-right-item img {
  width: 100%;
}
.our-serv .container .our-serv-right-right-item a {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  cursor: pointer;
  width: 177px;
  height: 39px;
  background-color: #3c8a08;
  display: block;
  line-height: 42px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  font-family: "Muller Regular";
  font-size: 14px;
}

@media all and (max-width: 1400px) {
  .mihail .container .text {
    margin-left: -150px;
  }

  .mihail .container {
    padding-right: 20px;
  }
}
@media all and (max-width: 1420px) {
  .we-offer .container .we-offer-right-item ul li {
    font-size: 15px;
  }
}
@media all and (max-width: 1330px) {
  .our-serv .container .our-serv-right-left ul li {
    font-size: 15px;
  }

  .we-offer .container .we-offer-left {
    margin-right: 40px;
  }

  .sec-menu .container .sec-menu-wrapper ul {
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px;
    width: 100%;
  }
  .sec-menu .container .sec-menu-wrapper ul li {
    margin-right: 20px;
  }
}
@media all and (max-width: 1280px) {
  .we-offer .container .we-offer-left p.h3 {
    width: 100%;
  }

  .we-offer .container .we-offer-left p.offer-text {
    width: 100%;
  }

  .we-offer .container {
    flex-direction: column;
  }
  .we-offer .container .we-offer-left {
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  .we-offer .container .we-offer-left .h3 {
    width: auto !important;
  }
  .we-offer .container .we-offer-left p.offer-text {
    width: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 700px;
  }
  .we-offer .container .we-offer-left img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .we-offer .container .we-offer-left form {
    margin: 0 auto;
  }
  .we-offer .container .we-offer-left .hr-hl {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .services .container .services-item-visible {
    padding: 10px 15px;
  }

  .services .container .services-item-visible-name p {
    width: fit-content;
    font-size: 16px;
  }
}
@media all and (max-width: 1215px) {
  .mihail .container {
    padding: 0 20px;
  }
  .mihail .container .img {
    display: none;
  }
  .mihail .container .text {
    margin-left: 0;
  }

  .lets-start .container .order-list {
    flex-direction: column;
    align-items: center;
  }
  .lets-start .container .order-list-item {
    margin-bottom: 15px;
  }

  .price-list .container .price-list-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .price-list .container .price-list-wrapper .price-list-item {
    width: 40%;
    margin-bottom: 20px;
  }
  .price-list .container .price-list-wrapper .price-list-item img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 184px;
  }

  .our-serv .container .our-serv-right {
    width: 100%;
    flex-direction: column;
  }
  .our-serv .container .our-serv-right-left {
    width: 100%;
  }
  .our-serv .container .our-serv-right-right {
    width: 100%;
  }

  .our-serv .container {
    flex-direction: column;
    align-items: center;
  }
  .our-serv .container .our-serv-left {
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
  .our-serv .container .our-serv-left p {
    max-width: inherit;
  }
  .our-serv .container .our-serv-left span {
    width: auto;
    margin-bottom: 10px;
  }
  .our-serv .container .our-serv-left .hr-hl {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  header .container .logo-wrapper .logo {
    height: auto;
    width: 151px;
  }
}
@media all and (max-width: 1170px) {
  #district .acard_ul li {
    width: auto;
  }

  header .container .info-wrapper .info-item.info-phone {
    display: none;
  }

  header .container .info-wrapper .info-item {
    font-size: 12px;
  }
}
@media all and (max-width: 1060px) {
  .sec-menu .container .sec-menu-wrapper {
    padding: 15px 15px;
  }

  .services .container .services-item-visible-name p {
    font-size: 12px;
  }
}
@media all and (max-width: 992px) {
  .sec-menu .container .sec-menu-wrapper form input {
    width: 250px;
  }

  .sec-menu .container .sec-menu-wrapper {
    justify-content: flex-end;
  }

  .sec-menu .container .sec-menu-wrapper ul {
    display: none;
  }

  #district .district_bg .offer_dist {
    flex-direction: column;
    align-items: center;
  }

  #district .district_bg .offer_dist .list_distr .distr_ban p {
    font-size: 20px;
  }

  #district .district_bg .offer_dist .list_distr .distr_ban p strong {
    font-size: 28px;
  }

  .who-we .container {
    flex-direction: column;
    align-items: center;
  }
  .who-we .container .who-we-left {
    margin-bottom: 10px;
  }

  .who-we .container .who-we-right {
    margin-left: 0;
  }
  .who-we .container .who-we-right p {
    text-align: center;
  }
  .who-we .container .who-we-right span {
    max-width: inherit;
  }
  .who-we .container .who-we-right a {
    margin: 0 auto;
  }

  footer .foot_menu_nav ul li {
    display: none;
  }

  footer .foot_menu_nav ul li.dev {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  footer .foot_feedback .container {
    flex-direction: column;
  }

  footer .foot_feedback .feedback-company {
    max-width: 100%;
    margin-bottom: 15px;
  }

  #whyWe .why_form .field_group input {
    width: 220px;
    margin-right: 10px;
  }

  #whyWe .why_form {
    padding: 45px 20px 65px 20px;
  }
}
@media all and (max-width: 930px) {
  .mihail .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }

  .mihail .container form input {
    width: 260px;
  }

  .our-serv .container .our-serv-right {
    flex-direction: column;
  }
  .our-serv .container .our-serv-right-left {
    width: 100%;
  }
  .our-serv .container .our-serv-right-right {
    width: 100%;
  }

  .services .container {
    flex-wrap: wrap;
  }
  .services .container .services-item {
    width: 50%;
  }
  .services .container .services-item-visible {
    border-right: none;
    border-bottom: 1px solid black;
  }

  .services .container .services-item-visible-name {
    align-items: center;
  }
}
@media all and (max-width: 840px) {
  .price-list .container .price-list-wrapper .price-list-item {
    width: 100%;
  }

  header .container .info-wrapper .info-item:last-child {
    display: none;
  }

  .sec-menu .container .sec-menu-wrapper {
    justify-content: flex-end;
  }
  .sec-menu .container .sec-menu-wrapper ul {
    margin-bottom: 15px;
  }
  .sec-menu .container .sec-menu-wrapper form input {
    width: 240px;
  }
}
@media all and (max-width: 800px) {
  .we-offer .container .we-offer-right-item {
    width: calc(100% - 20px);
  }
}
@media all and (max-width: 768px) {
  .sec-menu .container .sec-menu-wrapper ul {
    display: none;
  }

  #district .acard_ul {
    flex-wrap: wrap;
  }

  #district .acard_ul li {
    width: calc(50% - 2px);
  }

  #sertific .sertific_wrap .sertific_item.sm {
    max-width: 100%;
  }

  #sertific .sertific_wrap .sertific_item {
    max-width: 100%;
  }

  .actions-slider .container .actions-slider-wrapper .actions-slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .actions-slider .container .actions-slider-wrapper .actions-slider-item-content {
    margin: 0;
    width: 100%;
  }
  .actions-slider .container .actions-slider-wrapper .actions-slider-item-content p {
    font-size: 26px;
  }
  .actions-slider .container .actions-slider-wrapper .actions-slider-item-content span {
    font-size: 20px;
  }

  .sec-menu .container .sec-menu-wrapper ul {
    flex-direction: column;
    align-items: center;
  }
  .sec-menu .container .sec-menu-wrapper ul li {
    margin-bottom: 10px;
  }
  .sec-menu .container .sec-menu-wrapper ul li:last-child {
    margin-bottom: 0;
  }

  #partners .container {
    justify-content: center;
  }

  #whyWe .advantages_wrap {
    flex-direction: column;
  }

  #whyWe .advantages_wrap .advantages_item .adv_info {
    max-width: 100%;
  }

  #whyWe .advantages_wrap .advantages_item .adv_info-head {
    margin-bottom: 10px;
  }

  #whyWe .advantages_wrap .advantages_item {
    margin-bottom: 15px;
  }

  #whyWe .advantages_wrap .advantages_item .better_img {
    min-width: 62px;
  }

  #whyWe .advantages_wrap .advantages_item .better_img img {
    max-width: none;
  }

  #whyWe .why_form {
    background: #3a6f88;
  }

  #whyWe .why_form .h5 {
    max-width: 100%;
  }

  #whyWe .why_form p {
    max-width: 100%;
  }

  #whyWe .why_form .field_group {
    flex-direction: column;
    align-items: flex-start;
  }

  #whyWe .why_form .field_group input {
    width: 50%;
    margin-bottom: 10px;
  }

  footer .foot_feedback .feedback_contacts {
    flex-wrap: wrap;
  }

  footer .foot_feedback .feedback_contacts .contact_item {
    width: 50%;
  }
}
@media all and (max-width: 650px) {
  #side-menu #menuExit {
    left: 50%;
    transform: translateX(-50%);
  }
  #side-menu ul {
    width: 100%;
  }
  #side-menu ul li {
    text-align: center;
    padding: 0;
  }
  #side-menu ul li a {
    line-height: 30px;
  }

  header .container .info-wrapper .info-item {
    display: none;
  }
}
@media all and (max-width: 576px) {
  .services .container .services-item-hidden::before {
    display: none;
  }

  .our-serv .container .our-serv-left p {
    font-size: 34px;
  }

  .who-we .container .who-we-right p {
    font-size: 34px;
  }

  .we-offer .container .we-offer-left p.h3 {
    font-size: 34px;
  }

  .services .container {
    flex-wrap: wrap;
  }

  .services .container .services-item {
    width: 100%;
  }

  #district .district_bg .offer_dist .list_distr .distr_ban p strong {
    font-size: 25px;
  }

  #district .district_bg .offer_dist .list_distr .distr_ban {
    flex-direction: column;
    align-items: flex-start;
  }

  #district .district_bg .offer_dist .list_distr .distr_ban p.ban-aft:after {
    display: none;
  }

  #district .district_bg .offer_dist .list_distr .distr_ban p.ban-aft {
    margin: 10px 0px;
  }

  #district .district_bg .offer_dist .list_distr .offer_distr {
    flex-direction: column;
  }

  #district .district_bg .offer_dist .list_distr .offer_distr .point_distr-l {
    margin-right: 0;
  }

  .slick-dots li {
    background: #d7e0e4;
    border-radius: 50%;
  }

  .slick-dots li.slick-active {
    background: #000;
  }

  #our_works .container .prev, #our_works .container .next {
    display: none;
  }

  #our_works .work_wrap {
    padding: 0;
  }

  #our_works .h4 {
    font-size: 32px;
  }

  #sertific .sertific_wrap .sertific_item .h4 {
    margin-bottom: 10px;
    font-size: 35px;
  }

  #partners .partner_block a {
    display: block;
    margin: 0 auto;
  }

  #partners .partner_block .h5 {
    max-width: auto;
  }

  #partners .partner_block {
    padding: 30px 30px 28px 30px;
  }

  #whyWe .h3 {
    font-size: 34px;
  }

  footer .foot_feedback .feedback_contacts .contact_item {
    width: 100%;
    margin-bottom: 20px;
  }

  #whyWe .why_form .field_group input {
    width: 100%;
  }

  #whyWe .why_form .field_group button {
    width: 100%;
  }

  #whyWe .why_form .h5 {
    font-size: 26px;
    line-height: 30px;
  }
}
@media all and (max-width: 480px) {
  .our-serv .container .our-serv-right-left {
    padding: 20px;
  }
  .our-serv .container .our-serv-right-left ul li {
    font-size: 12px;
    margin-left: 0;
  }
  .our-serv .container .our-serv-right-left ul li::after {
    display: none;
  }
}
@media all and (max-width: 440px) {
  .lets-start .container .order-list-item .text p {
    font-size: 22px;
  }

  .lets-start .container .order-list-item .numb {
    margin-right: 10px;
  }

  #prevSec {
    left: 0;
  }

  .we-offer .container .we-offer-left p.h3 {
    font-size: 34px;
  }

  .we-offer .container .we-offer-left img {
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }

  .we-offer .container .we-offer-left form {
    margin: 0 auto;
  }
  .we-offer .container .we-offer-left form input {
    width: 300px;
  }

  header .container .logo-wrapper .logo {
    width: 120px;
    margin-top: 5px;
  }

  header .container .logo-wrapper .menu-button {
    margin-right: 9px;
  }

  header .container .logo-wrapper .menu-button span {
    width: 22px;
    margin-bottom: 5px;
  }

  header .container .call-back-wrapper button {
    font-size: 11px;
    width: 130px;
  }

  .actions-slider .container .actions-slider-wrapper .actions-slider-item-content {
    padding: 20px;
  }
  .actions-slider .container .actions-slider-wrapper .actions-slider-item-content p {
    font-size: 25px;
    line-height: inherit;
    width: auto;
  }
}
@media all and (min-width: 1060px) {
  .sec-menu .container .sec-menu-wrapper form input {
    transition: all 0.3s ease;
  }
  .sec-menu .container .sec-menu-wrapper form input:focus {
    width: 270px;
  }
}

/*# sourceMappingURL=style.css.map */
