@font-face
  font-family: 'Muller Regular'
  src: url('../fonts/MullerRegular.eot') format('eot'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype')
@font-face
  font-family: 'Muller Medium'
  src: url('../fonts/MullerMedium.eot') format('eot'), url('../fonts/MullerMedium.woff') format('woff'), url('../fonts/MullerMedium.ttf') format('truetype')
@font-face
  font-family: 'Muller Extra Bold'
  src: url('../fonts/MullerExtraBold.eot') format('eot'), url('../fonts/MullerExtraBold.woff') format('woff'), url('../fonts/MullerExtraBold.ttf') format('truetype')
@font-face
  font-family: 'Muller Bold'
  src: url('../fonts/MullerBold.eot') format('eot'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf') format('truetype')

.services .container .services-item-hidden
  &::before
    content: ''
    display: block
    width: 100%
    height: 1px
    //background-color: rgba(71, 82, 72, 1)
    background-color: #b4d0b8
    position: absolute
    top: 11px
    left: 0
.bdovhidden
  overflow: hidden
.brn
  border-right: none!important
#popup
  background: #fff
  width: 90%
  max-width: 500px
  margin: 0 auto
  padding: 30px 40px
  position: fixed
  z-index: 100
  top: 50%
  left: 0
  right: 0
  margin: 0 auto
  //left: 50%
  border: 2px solid #000
  //transform: translate(-50%, -50%)
  .close_popup
    cursor: pointer
    font-family: "Muller Extra Bold"
    font-size: 22px
    position: absolute
    right: 10px
    top: 10px
  .h4
    font-family: "Muller Extra Bold"
    font-size: 22px
    text-align: center
    font-weight: 400
    text-transform: uppercase
    margin-bottom: 15px
  input
    display: block
    width: 100%
    color: #7e8284
    font-family: "Muller Regular"
    padding: 5px 15px
    margin-bottom: 15px
    padding: 15px
    font-size: 14px
    font-weight: 400
    line-height: 12.99px
  //display: none
#side-menu
  top: 0
  position: fixed
  width: 100%
  height: 100%
  background: rgba(78, 78, 78, .65)
  z-index: 101
  ul
    width: fit-content
    height: 100%
    padding: 25px
    padding-top: 80px
    background-color: #3d697e
    li
      min-width: 331px
      padding-left: 20px
      cursor: pointer
      a
        text-decoration: none
        color: #aebfc7
        font-family: "Muller Extra Bold"
        font-size: 17px
        line-height: 50px
        font-weight: 400
        text-transform: uppercase
        display: block
        width: 100%
        height: 100%
      &:hover
        background-color: #174a63
        a
          color: white
  #menuExit
    position: absolute
    left: 390px
    top: 10px
    cursor: pointer
.dpn
  display: none
.sim
  background-color: #3a6f88
  .services-item-visible
    &-name
      img
        display: none
      .alt-image
        display: block
      p
        color: white
    &-butt
      display: none
.alt-image
  display: none

*
  box-sizing: border-box
  outline: none
ul
  list-style: none
  margin: 0
  padding: 0
img
  max-width: 100%
body, p
  margin: 0
  padding: 0
.container
  width: 90%
  max-width: 1340px
  margin: 0 auto
.button
  color: #ffffff
  font-family: "Muller Regular"
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  text-decoration: none
  height: 40px
  border-radius: 20px
  background: #3c8a08
  text-align: center
  line-height: 40px

.breadcums
  padding: 15px 0
  background-color: #dddddd
  .container
    ul
      li
        font-family: "Muller Regular"
        font-size: 14px
        font-weight: 400
        display: inline-block
        &:last-child
          a
            color: #828282
        a
          text-decoration: none
          color: #3a6f88
.opis
  padding: 36px 0 40px 0
  .container
    p
      font-family: "Muller Extra Bold"
      font-size: 36px
      text-transform: uppercase
    .hr-hl
      width: 96px
      height: 5px
      background-color: rgba(49, 112, 143, 0.95)
      margin-top: 9px
      margin-bottom: 20px
    span
      display: block
      font-family: "Muller Regular"
      font-size: 14px
      margin-bottom: 20px

.price-list
  padding-bottom: 70px
  .container
    .p
      color: #3c8a08
      font-family: "Muller Extra Bold"
      font-size: 24px
      text-transform: uppercase
      margin-bottom: 40px
    .price-list-wrapper
      display: flex
      justify-content: space-between
      .price-list-item
        position: relative
        width: fit-content
        border: 1px solid #b2b2b2
        display: flex
        flex-direction: column
        justify-content: center
        padding: 14px 23px 21px 23px
        .sale
          position: absolute
          right: 15px
          top: 50px
        p
          font-family: "Muller Extra Bold"
          font-size: 18px
          margin-bottom: 15px
          text-align: center
        span
          display: block
          font-family: "Muller Regular"
          font-size: 16px
          margin-bottom: 15px
        ul
          margin-bottom: 18px
          li
            font-family: "Muller Regular"
            color: #3a6f88
        .price
          margin: 0 auto
          p
            font-family: "Muller Regular"
            font-size: 16px
            span
              display: inline-block
              color: #3c8a08
              font-family: "Muller Extra Bold"
              font-size: 24px
        a
          cursor: pointer
          display: block
          margin: 0 auto
          width: 177px
          height: 39px
          border-radius: 20px
          outline: none
          background-color: #3c8a08
          line-height: 40px
          text-align: center
          text-decoration: none
          color: #ffffff
          font-family: "Muller Regular"
          font-size: 14px
          text-transform: uppercase

.lets-start
  padding-bottom: 75px
  &-h
    text-align: center
    margin-bottom: 25px
    color: #3a6f88
    font-family: "Muller Extra Bold"
    font-size: 24px
    text-transform: uppercase
  .container
    padding: 50px 5px
    background-color: #3a6f88
    .order-list
      display: flex
      justify-content: space-around
      &-item
        display: flex
        .numb
          color: #3a6f88
          font-family: "Muller Extra Bold"
          font-size: 30px
          width: 46px
          height: 46px
          border-radius: 46px
          background-color: #c2d6e0
          text-align: center
          line-height: 50px
          margin-right: 20px
        .text
          p
            color: #ffffff
            font-family: "Muller Extra Bold"
            font-size: 24px
            line-height: 35px
            margin-bottom: 10px
          span
            color: #ffffff
            font-family: "Muller Regular"
            font-size: 12px
            max-width: 230px
            display: inline-block

.mihail
  padding-bottom: 75px
  .container
    background-color: #d7e0e4
    display: flex
    min-height: 253px
    padding-right: 65px
    justify-content: space-between
    .img
      img
        height: 100%
    .text
      font-family: "Muller Extra Bold"
      margin-left: -280px
      padding-top: 30px
      p
        font-size: 36px
        color: #3a6f88
        text-transform: uppercase
        margin-bottom: 33px
      span
        display: block
        color: #3a6f88
        font-family: "Muller Regular"
        font-size: 18px
        max-width: 450px
        text-transform: uppercase
        margin-bottom: 32px
      .bot-text
        text-transform: none
        font-size: 18px
        color: #3a6f88
        max-width: 456px
    form
      justify-self: flex-end
      display: flex
      flex-direction: column
      padding-top: 30px
      p
        color: #202124
        font-family: "Muller Extra Bold"
        font-size: 18px
        text-transform: uppercase
      .hr-hl
        width: 96px
        height: 5px
        margin-top: 5px
        margin-bottom: 17px
        background-color: #3a6f88
      input
        width: 316px
        height: 38px
        box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.09)
        color: #202124
        font-family: "Muller Regular"
        font-size: 18px
        border: 1px solid #b2b2b2
        border-radius: 3px
        padding: 0 11px
        outline: none
        margin-bottom: 11px
      button
        width: 263px
        height: 39px
        background-color: #3c8a08
        outline: none
        border: none
        border-radius: 20px
        line-height: 40px
        text-align: center
        color: #ffffff
        font-family: "Muller Regular"
        font-size: 14px
        margin: 0 auto
        text-transform: uppercase
        margin-top: 10px
#district
  .acard_ul
    display: flex
    width: 100%
    justify-content: flex-start
    li
      display: block
      cursor: pointer
      margin-right: 1px
      color: #ffffff
      font-family: "Muller Regular"
      font-size: 16px
      padding: 15px 18px
      background: #3a6f88
      width: 244px
    li.active
      background: #3c8a08
    li.akcia
      background: #ff0060
      text-transform: uppercase
      font-family: "Muller Extra Bold"
  .district_bg
    background: #c2d6e0
    padding: 20px 0px 25px 0px
    .offer_dist
      display: flex
      justify-content: space-between
      .list_distr
        .distr_ban
          margin-top: 30px
          display: flex
          align-items: center
          //justify-content: space-between
          background: #3c8a08
          padding: 15px 10px 20px 15px
          .time_ban
            margin-right: 15px
          p.ban-aft
            margin-right: 40px
            position: relative
            &:after
              content: ''
              display: inline-block
              position: absolute
              right: -20px
              top: 50%
              transform: translateY(-50%)
              width: 5px
              height: 32px
              background-color: #c2d6e0
          p
            color: #ffffff
            font-family: "Muller Extra Bold"
            font-size: 22px
            strong
              color: #ffffff
              font-family: "Muller Extra Bold"
              font-size: 39px
              text-transform: uppercase
        .offer_distr
          display: flex
          //justify-content: space-between
          .point_distr-l
            margin-right: 40px
          li
            margin-bottom: 13px
            color: #3a6f88
            font-family: "Muller Regular"
            font-size: 16px
            font-weight: 400
            span
              font-family: "Muller Extra Bold"
              text-transform: uppercase
        .h5
          color: #3a6f88
          font-family: "Muller Extra Bold"
          font-size: 23px
          margin-bottom: 25px
          text-transform: uppercase
#our_works
  padding-top: 65px
  padding-bottom: 65px
  overflow-x: hidden
  .h4
    color: #3a6f88
    font-family: "Muller Extra Bold"
    text-align: center
    margin-bottom: 35px
    font-size: 36px
    text-transform: uppercase
  .container
    position: relative
    .next
      position: absolute
      right: 0
      top: 50%
      z-index: 999
      cursor: pointer
      transform: translate(-50%, -50%)
    .prev
      left: 25px
      position: absolute
      top: 50%
      z-index: 999
      cursor: pointer
      transform: translate(-50%, -50%)
  .work_wrap
    padding: 0px 70px
    .work_item
      padding-bottom: 20px
      margin-right: 10px
      img
        display: block
        padding: 5px
        margin: 0 auto
        border: 1px solid #b2b2b2
        box-shadow: -1px 20px 16px -17px rgba(0,0,0,0.29)

#sertific
  background: #d7e0e4
  padding: 50px 0px 55px 0px
  .sertific_wrap
    display: flex
    justify-content: space-between
    .sertific_item.sm
      max-width: 360px
      .h4
        color: #3a6f88
    .photo_sertificate.sertific_item
      max-width: 290px
      position: relative
      .photo_srtif
        position: relative
      .prev, .next
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        bottom: 0
        width: 50px
        height: 50px
        background: #000000
        text-align: center
      .next
        right: 0px
      .prev
        right: 50px

    .sertific_item
      max-width: 380px
      display: flex
      flex-direction: column
      justify-content: space-between
      img
        margin: 0 auto
        display: block
      .h4
        color: #202124
        font-family: "Muller Extra Bold"
        font-size: 45px
        text-transform: uppercase
        margin-bottom: 25px
      p
        margin-bottom: 10px
        color: #202124
        font-family: "Muller Regular"
        font-size: 18px
        line-height: 24px
        &:last-child
          //margin-bottom: 0
      a.button
        width: 175px
#partners
  padding: 100px 0px 125px 0px
  background: url("../img/bath.jpg") no-repeat center / cover
  .container
    display: flex
    justify-content: flex-end
  .partner_block
    padding: 30px 55px 28px 55px
    max-width: 555px
    background: #3a6f88
    .h5
      color: #ffffff
      font-family: "Muller Extra Bold"
      font-size: 36px
      font-weight: 400
      line-height: 36px
      max-width: 225px
    p
      color: #ffffff
      margin-top: 25px
      margin-bottom: 20px
      font-family: "Muller Regular"
      font-size: 18px
      font-weight: 400
      max-width: 450px
    a
      display: inline-block
      width: 177px
      height: 40px
      line-height: 40px
      border-radius: 20px
      padding: 12px 0px
      text-align: center
      background: #3c8a08
      text-decoration: none
      color: #ffffff
      font-family: "Muller Regular"
      font-size: 14px
      font-weight: 400
      line-height: 18px
      text-transform: uppercase
//WHY_SECTION
#whyWe
  .main_info-why
    .main_why-item
      margin-bottom: 45px
      p
        color: #333333
        color: #333333
        font-family: "Muller Regular"
        font-size: 14px
        //font-weight: bold
      h2
        color: #3c8a08
        font-family: "Muller Extra Bold"
        font-size: 24px
        margin-bottom: 30px
        text-transform: uppercase
      h3
        color: #3a6f88
        font-family: "Muller Extra Bold"
        font-size: 18px
        margin-bottom: 20px
        text-transform: uppercase
#whyWe
  padding: 75px 0
  .h3
    color: #202124
    font-family: "Muller Extra Bold"
    font-size: 45px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
    text-align: center
  .h6
    color: #202124
    margin-top: 25px
    margin-bottom: 45px
    font-family: "Muller Bold"
    font-size: 18px
    font-weight: 400
    line-height: 24px
    text-align: center
  .advantages_wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
    .advantages_item
      display: flex
      .adv_info
        max-width: 210px
        margin-left: 25px
        &-head
          color: #202124
          font-family: "Muller Regular"
          font-size: 24px
          font-weight: 400
          line-height: 24px
          margin-bottom: 30px
        &-body
          color: #202124
          font-family: "Muller Regular"
          font-size: 15px
          font-weight: 400
          line-height: 18px
  .why_form
    margin-top: 75px
    padding: 45px 60px 65px 60px
    background: url(../img/why.jpg) no-repeat 0% 0% / cover
    .h5
      color: #202124
      font-family: "Muller Extra Bold"
      font-size: 48px
      font-weight: 400
      line-height: 48px
      max-width: 480px
    p
      color: #ffffff
      font-family: "Muller Regular"
      font-size: 18px
      font-weight: 400
      max-width: 355px
      margin-top: 15px
      margin-bottom: 25px
      line-height: 24px
    .field_group
      display: flex
      align-items: center
      input
        box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.09)
        border: 1px solid #b2b2b2
        background-color: #ffffff
        width: 315px
        color: #5a5b5d
        font-family: "Muller Regular"
        font-size: 18px
        height: 38px
        margin-right: 20px
        padding: 0px 10px
        border-radius: 4px
      button
        background: #3c8a08
        color: #ffffff
        font-family: "Muller Regular"
        font-size: 14px
        font-weight: 400
        text-transform: uppercase
        border: 1px solid #3c8a08
        text-align: center
        height: 38px
        padding-left: 50px
        padding-right: 50px
        border-radius: 20px
        cursor: pointer
//map
#map
  overflow-x: hidden
  img
    display: block
    margin: 0 auto
    width: 100%
//footer
footer
  .foot_feedback
    background: #3a6f88
    padding: 38px 0px 38px 0px
    .container
      display: flex
      justify-content: space-between
    .feedback-company
      max-width: 230px
      p.pol
        margin: 20px 0px
      p
        color: #84d5fb
        font-family: "Muller Regular"
        font-size: 12px
        font-weight: 400
        line-height: 14px
        span
          display: block
          color: #ffffff
          font-family: "Muller Regular"
          font-size: 12px
          font-weight: 400
          line-height: 14px
    .feedback_contacts
      background: #244455
      padding: 30px
      display: flex
      max-width: 937px
      .vk_item
        display: flex
        align-items: center
        span
          display: inline-block
          margin-right: 20px
          color: #ffffff
          font-family: "Muller Extra Bold"
          font-size: 14px
          font-weight: 400
          line-height: 30px
          text-transform: uppercase
      .contact_item
        width: 25%
        .contact_head-it
          color: #70c5ec
          font-family: "Muller Extra Bold"
          font-size: 15px
          font-weight: 400
          margin-bottom: 15px
        p
          color: #ffffff
          font-family: "Muller Regular"
          font-size: 14px
          font-weight: 400
          line-height: 24px
        p.address
          line-height: 18px
        a
          display: block
          color: #ffffff
          font-family: "Muller Regular"
          font-size: 14px
          font-weight: 400
          line-height: 24px
          text-decoration: none

  .foot_menu
    background: #d8d8d8
    padding: 30px 0px 40px 0px
    &_nav
      ul
        display: flex
        align-items: center
        justify-content: space-between
        a
          text-decoration: none
          color: #244455
          font-family: "Muller Extra Bold"
          font-size: 12px
          text-transform: uppercase
          letter-spacing: 1.2px
        li.dev a
          display: flex
          align-items: center
          span
            display: inline-block
            text-align: right
            margin-right: 10px

@media all and (max-width: 1165px)
  #sertific .sertific_wrap
    flex-wrap: wrap
  #sertific .sertific_wrap .sertific_item
    margin-bottom: 25px

header
  position: fixed
  top: 0
  width: 100%
  background-color: white
  z-index: 100
  .container
    display: flex
    justify-content: space-between
    padding: 20px 0
    .logo-wrapper
      display: flex
      align-items: center
      .menu-button
        margin-right: 15px
        cursor: pointer
        span
          display: block
          width: 44px
          height: 2px
          background-color: #202124
          margin-bottom: 10px
          &:last-child
            margin-bottom: 0
      .logo
        height: 56px
    .info-wrapper
      display: flex
      .info-item
        color: #202124
        font-family: "Muller Regular"
        font-size: 14px
        font-weight: 400
        line-height: 18px
        display: flex
        align-items: center
        img
          width: 16px
          height: 9px
          margin-right: 10px
          margin-top: 5px
          align-self: flex-start
        div
          p
            font-weight: bold
          span
            display: block
      .info-phone
        img
          width: 41px
          height: 41px
          margin-right: 15px
        div
          .info-phone-number
            font-family: "Muller Bold"
            font-size: 18px
            font-weight: 400
    .call-back-wrapper
      button
        width: 178px
        height: 39px
        background-color: #3c8a08
        color: #ffffff
        font-family: "Muller Regular"
        font-size: 14px
        font-weight: 400
        line-height: 18px
        text-transform: uppercase
        outline: none
        border: none
        border-radius: 20px


.services
  margin-top: 100px
  background-color: #c2d6e0
  padding: 0 0 80px 0
  .container
    display: flex
    .services-item
      padding-top: 18px
      width: 25%
      position: relative
      &:last-child
        &-visible
          border-right: 0
      &-hidden
        z-index: 10
        color: #ffffff
        font-family: "Muller Regular"
        font-size: 18px
        line-height: 30px
        text-decoration: underline
        background-color: #3a6f88
        position: absolute
        top: 100%
        left: 0
        width: 100%
        padding: 35px
        a
          text-decoration: none
          color: #ffffff
      &-visible
        cursor: pointer
        border-right: 1px solid rgba(32, 33, 36, 0.24)
        padding: 40px 20px 50px 30px
        display: flex
        justify-content: space-between
        align-items: center
        min-height: 100px
        &:last-child
          border-right: none!important
        &-name
          display: flex
          p
            width: 145px
            font-family: "Muller Extra Bold"
            font-size: 18px
            font-weight: 400
            line-height: 18px
          img
            width: 38px
            height: 33px
            margin-right: 20px

.sec-menu
  margin-top: -68px
  .container
    background-color: #3c8a08
    .sec-menu-wrapper
      color: #ffffff
      font-family: "Muller Extra Bold"
      font-size: 12px
      font-weight: 400
      text-transform: uppercase
      display: flex
      justify-content: space-between
      align-items: center
      padding: 15px 21px 15px 30px
      ul
        li
          display: inline-block
          margin-right: 50px
          a
            text-decoration: none
            color: #ffffff
      form
        position: relative
        input
          width: 240px
          height: 38px
          box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.09)
          border: 1px solid #b2b2b2
          padding-left: 20px
          padding-right: 35px
          color: #7e8284
          font-family: "Muller Regular"
          font-size: 14px
          font-weight: 400
          line-height: 12.99px
          outline: none

        img
          position: absolute
          right: 5px
          top: 50%
          transform: translateY(-50%)

.actions-slider
  .container
    position: relative
    .prev, .next
      cursor: pointer
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      top: calc(100% - 50px)
      width: 50px
      height: 50px
      background: #000000
      text-align: center
      z-index: 23
      img
        width: 16px
        height: 27px
        margin: 0 auto
    .next
      left: calc(100% - 50px)
    .prev
      right: 50px
    .actions-slider-wrapper
      position: relative
      .actions-slider-item
        height: 378px
        width: 100%
        background: url(../img/slide-bg.jpg) no-repeat center/cover
        display: flex
        align-items: center
        &-content
          background-color: #202124
          font-family: "Muller Regular"
          color: #ffffff
          width: fit-content
          padding: 20px 80px 10px 30px
          margin-left: 60px
          p
            font-family: "Muller Extra Bold"
            font-size: 36px
            font-weight: 400
            line-height: 36px
            max-width: 390px
            margin-bottom: 25px
          span
            font-size: 30px
            display: block
            margin-bottom: 30px
          a
            display: flex
            justify-content: center
            align-items: center
            text-decoration: none
            color: #ffffff
            width: 150px
            height: 39px
            font-size: 13px
            background-color: #3c8a08
            border-radius: 20px
.first-item
  background-image: url("../img/batery.jpg")
.second-item
  background-image: url("../img/fon2.png")
.third-item
  background-image: url("../img/fon3.jpg")
.fourth-item
  background-image: url("../img/fon4.jpg")


.we-offer
  padding: 64px 0 80px 0
  .container
    display: flex
    .we-offer-left
      margin-right: 120px
      width: fit-content
      font-family: "Muller Regular"
      font-size: 15px
      p.h3
        font-family: "Muller Extra Bold"
        font-size: 45px
        font-weight: 400
        text-transform: uppercase
        width: 315px
      .hr-hl
        width: 96px
        height: 5px
        background-color: rgba(49, 112, 143, 0.95)
        margin-bottom: 20px
      p.offer-text
        width: 300px
        margin-bottom: 40px
      img
        margin-bottom: 20px
      p.h4
        font-family: "Muller Extra Bold"
        font-size: 18px
        font-weight: 400
        text-transform: uppercase
      form
        width: fit-content
        display: flex
        flex-direction: column
        align-items: center
        input
          width: 316px
          height: 38px
          box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.09)
          border: 1px solid #b2b2b2
          outline: none
          padding: 0 10px
          margin-bottom: 11px
          border-radius: 5px
        button
          width: 263px
          height: 39px
          background-color: #3c8a08
          border-radius: 20px
          border: none
          color: white
          outline: none
    .we-offer-right
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      margin: -10px
      &-item
        cursor: pointer
        position: relative
        margin: 10px
        width: calc(50% - 20px)
        font-family: "Muller Regular"
        color: #ffffff
        background-size: 100% 100%
        padding: 36px 10px 72px 30px
        transition: .5s
        &:hover
          .bga
            background-color: #003d5a
            opacity: .8
          .hr-hl
            background-color: #71c9f3
        .bga
          transition: .5s
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background-color: #000000
          opacity: 0.5
          z-index: 1
        p
          position: relative
          font-family: "Muller Extra Bold"
          font-size: 29px
          font-weight: 400
          width: 170px
          margin-bottom: 10px
          z-index: 3
        .hr-hl
          transition: .5s
          position: relative
          width: 96px
          height: 5px
          background-color: #3c8a08
          margin-bottom: 30px
          z-index: 2
        ul
          position: relative
          z-index: 2
          li
            font-size: 18px
            text-decoration: underline
            margin-bottom: 5px
            a
              text-decoration: none
              color: white

.who-we
  background-color: #d7e0e4
  padding: 60px 0
  .container
    display: flex
    justify-content: space-between
    .who-we-left
    .who-we-right
      margin-left: 20px
      p
        font-family: "Muller Extra Bold"
        font-size: 45px
        text-transform: uppercase
        margin-bottom: 35px
      span
        display: block
        font-family: "Muller Regular"
        font-size: 18px
        margin-bottom: 30px
        max-width: 575px
      a
        text-decoration: none
        width: 177px
        height: 39px
        background-color: #3c8a08
        border-radius: 20px
        color: #ffffff
        font-family: "Muller Regular"
        font-size: 14px
        text-transform: uppercase
        display: flex
        justify-content: center
        align-items: center
        margin-top: 40px

.our-serv
  padding: 90px 0
  .container
    display: flex
    .our-serv-left
      float: left
      width: fit-content
      color: #202124
      font-family: "Muller Extra Bold"
      margin-right: 46px
      p
        font-size: 45px
        max-width: 200px
      .hr-hl
        width: 96px
        height: 5px
        background-color: #3a6f88
        margin-bottom: 20px
      span
        font-size: 18px
        width: 204px
        display: block
    .our-serv-right
      width: calc(100% - 250px)
      display: flex
      .wrapper-slider-pr
        .item
          display: flex
      &-left
        background: rgba(220, 220, 220, 0.66)
        width: 551px
        padding: 30px 10px 60px 50px
        p
          font-family: "Muller Extra Bold"
          font-size: 18px
          margin-bottom: 20px
          text-transform: uppercase
        ul
          li
            margin-left: 10px
            position: relative
            font-family: "Muller Regular"
            font-size: 18px
            padding-left: 10px
            margin-bottom: 7px
            &::after
              position: absolute
              left: -10px
              top: 50%
              transform: translateY(-50%)
              display: block
              content: ''
              width: 9px
              height: 9px
              background-image: url("../img/dot.jpg")
      &-right
        width: 50%
        position: relative
        .prev, .next
          cursor: pointer
          display: flex
          justify-content: center
          align-items: center
          position: absolute
          top: calc(100% - 50px)
          width: 50px
          height: 50px
          background: #000000
          text-align: center
          z-index: 23
          img
            width: 16px
            height: 27px
            margin: 0 auto
        .next
          left: calc(100% - 50px)
        .prev
          right: 50px
        &-item
          position: relative
          height: 100%
          img
            width: 100%
          a
            position: absolute
            top: 100%
            left: 50%
            transform: translate(-50%, -100%)
            cursor: pointer
            width: 177px
            height: 39px
            background-color: #3c8a08
            display: block
            line-height: 42px
            text-decoration: none
            text-transform: uppercase
            color: #ffffff
            text-align: center
            border-radius: 20px
            font-family: "Muller Regular"
            font-size: 14px
@media all and (max-width: 1400px)
  .mihail .container .text
    margin-left: -150px
  .mihail .container
    padding-right: 20px
@media all and (max-width: 1420px)
  .we-offer .container .we-offer-right-item ul li
    font-size: 15px
@media all and (max-width: 1330px)
  .our-serv .container .our-serv-right-left ul li
    font-size: 15px
  .we-offer .container .we-offer-left
    margin-right: 40px
  .sec-menu .container .sec-menu-wrapper
    ul
      display: flex
      justify-content: flex-start
      padding: 0px 10px
      width: 100%
      li
        margin-right: 20px
    form
      input
        //width: 160px
@media all and (max-width: 1280px)
  .we-offer .container .we-offer-left p.h3
    width: 100%
  .we-offer .container .we-offer-left p.offer-text
    width: 100%
  .we-offer .container
    flex-direction: column
    //align-items: center
    .we-offer-left
      margin-bottom: 30px
      margin-right: 0
      width: 100%
      text-align: center
      .h3
        width: auto!important
      p.offer-text
        width: auto
        margin: 0 auto
        margin-bottom: 20px
        max-width: 700px
      img
        display: block
        margin: 0 auto
        margin-bottom: 20px
      form
        margin: 0 auto
      .hr-hl
        margin: 0 auto
        margin-bottom: 20px
  .services .container .services-item-visible
    padding: 10px 15px
  .services .container .services-item-visible-name p
    width: fit-content
    font-size: 16px
@media all and (max-width: 1215px)
  .mihail .container
    padding: 0 20px
    .img
      display: none
    .text
      margin-left: 0
  .lets-start .container .order-list
    flex-direction: column
    align-items: center
    &-item
      margin-bottom: 15px
  .price-list .container .price-list-wrapper
    flex-wrap: wrap
    justify-content: space-around
  .price-list .container .price-list-wrapper .price-list-item
    width: 40%
    margin-bottom: 20px
    img
      display: block
      margin:  0 auto
      max-width: 200px
      max-height: 184px
  .our-serv .container .our-serv-right
    width: 100%
    flex-direction: column
    &-left
      width: 100%
    &-right
      width: 100%
  .our-serv .container
    flex-direction: column
    align-items: center
    .our-serv-left
      text-align: center
      width: 100%
      margin-right: 0
      p
        max-width: inherit
      span
        width: auto
        margin-bottom: 10px
      .hr-hl
        margin: 0 auto
        margin-bottom: 20px
  header .container .logo-wrapper .logo
    height: auto
    width: 151px
@media all and (max-width: 1170px)
  #district .acard_ul li
    width: auto
  header .container .info-wrapper .info-item.info-phone
    display: none
  header .container .info-wrapper .info-item
    font-size: 12px
@media all and (max-width: 1060px)
  .sec-menu .container .sec-menu-wrapper form input
    //width: 160px
  .sec-menu .container .sec-menu-wrapper
    padding: 15px 15px

  .services .container .services-item-visible-name p
    font-size: 12px
@media all and (max-width: 992px)
  .sec-menu .container .sec-menu-wrapper form input
    width: 250px
  .sec-menu .container .sec-menu-wrapper
    justify-content: flex-end
  .sec-menu .container .sec-menu-wrapper ul
    display: none
  #district .district_bg .offer_dist
    flex-direction: column
    align-items: center
  #district .district_bg .offer_dist .list_distr .distr_ban p
    font-size: 20px
  #district .district_bg .offer_dist .list_distr .distr_ban p strong
    font-size: 28px
  .who-we .container
    flex-direction: column
    align-items: center
    .who-we-left
      margin-bottom: 10px
  .who-we .container .who-we-right
    margin-left: 0
    p
      text-align: center
    span
      max-width: inherit
    a
      margin: 0 auto
  footer .foot_menu_nav ul li
    display: none
  footer .foot_menu_nav ul li.dev
    display: block
    margin: 0 auto
    text-align: center
  footer .foot_feedback .container
    flex-direction: column
  footer .foot_feedback .feedback-company
    max-width: 100%
    margin-bottom: 15px
  #whyWe .why_form .field_group input
    width: 220px
    margin-right: 10px
  #whyWe .why_form
    padding: 45px 20px 65px 20px
    //background: url(../img/why.jpg) no-repeat 100% 0% / cover
@media all and (max-width: 930px)
  .mihail .container
    flex-direction: column
    align-items: center
    text-align: center
    padding-bottom: 30px
  .mihail .container form input
    width: 260px
  .our-serv .container .our-serv-right
    flex-direction: column
    &-left
      width: 100%
    &-right
      width: 100%
  .services .container
    //flex-direction: column
    //align-items: center
    flex-wrap: wrap
    .services-item
      width: 50%
      //width: 300px
      &-visible
        border-right: none
        border-bottom: 1px solid black
  .services .container .services-item-visible-name
    align-items: center
@media all and (max-width: 840px)
  .price-list .container .price-list-wrapper .price-list-item
    width: 100%
  header .container .info-wrapper .info-item
    &:last-child
      display: none
  .sec-menu .container .sec-menu-wrapper
    //flex-direction: column
    justify-content: flex-end
    ul
      margin-bottom: 15px
    form
      input
        width: 240px
@media all and (max-width: 800px)
  .we-offer .container .we-offer-right-item
    width: calc(100% - 20px)
@media all and (max-width: 768px)
  .sec-menu .container .sec-menu-wrapper ul
    display: none
  #district .acard_ul
    flex-wrap: wrap
  #district .acard_ul li
    width: calc(50% - 2px)
  #sertific .sertific_wrap .sertific_item.sm
    max-width: 100%
  #sertific .sertific_wrap .sertific_item
    max-width: 100%
  .actions-slider .container .actions-slider-wrapper .actions-slider-item
    display: flex
    justify-content: center
    align-items: center
    &-content
      margin: 0
      width: 100%
      p
        font-size: 26px
      span
        font-size: 20px
  .sec-menu .container .sec-menu-wrapper ul
    flex-direction: column
    align-items: center
    li
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
  #partners .container
    justify-content: center
  #whyWe .advantages_wrap
    flex-direction: column
  #whyWe .advantages_wrap .advantages_item .adv_info
    max-width: 100%
  #whyWe .advantages_wrap .advantages_item .adv_info-head
    margin-bottom: 10px
  #whyWe .advantages_wrap .advantages_item
    margin-bottom: 15px
  #whyWe .advantages_wrap .advantages_item .better_img
    min-width: 62px
  #whyWe .advantages_wrap .advantages_item .better_img img
    max-width: none
  #whyWe .why_form
    background: #3a6f88
  #whyWe .why_form .field_group input
  #whyWe .why_form .h5
    max-width: 100%
  #whyWe .why_form p
    max-width: 100%
  #whyWe .why_form .field_group
    flex-direction: column
    align-items: flex-start
  #whyWe .why_form .field_group input
    width: 50%
    margin-bottom: 10px
  footer .foot_feedback .feedback_contacts
    flex-wrap: wrap
  footer .foot_feedback .feedback_contacts .contact_item
    width: 50%
@media all and (max-width: 650px)
  #side-menu
    #menuExit
      left: 50%
      transform: translateX(-50%)
    ul
      width: 100%
      li
        text-align: center
        padding: 0
        a
          line-height: 30px
  header .container .info-wrapper .info-item
    display: none
@media all and (max-width: 576px)
  .our-serv .container .our-serv-left p
    font-size: 34px
  .who-we .container .who-we-right p
    font-size: 34px
  .we-offer .container .we-offer-left p.h3
    font-size: 34px
  .services .container
    flex-wrap: wrap
  .services .container .services-item
    width: 100%
  #district .district_bg .offer_dist .list_distr .distr_ban p strong
    font-size: 25px
  #district .district_bg .offer_dist .list_distr .distr_ban
    flex-direction: column
    align-items: flex-start
  #district .district_bg .offer_dist .list_distr .distr_ban p.ban-aft:after
    display: none
  #district .district_bg .offer_dist .list_distr .distr_ban p.ban-aft
    margin: 10px 0px
  #district .district_bg .offer_dist .list_distr .offer_distr
    flex-direction: column
  #district .district_bg .offer_dist .list_distr .offer_distr .point_distr-l
    margin-right: 0
  .slick-dots li
    background: #d7e0e4
    border-radius: 50%
  .slick-dots li.slick-active
    background: #000
  #our_works .container .prev, #our_works .container .next
    display: none
  #our_works .work_wrap
    padding: 0
  #our_works .h4
    font-size: 32px
  #sertific .sertific_wrap .sertific_item .h4
    margin-bottom: 10px
    font-size: 35px
  #partners .partner_block a
    display: block
    margin: 0 auto
  #partners .partner_block .h5
    max-width: auto
  #partners .partner_block
    padding: 30px 30px 28px 30px
  #whyWe .h3
    font-size: 34px
  footer .foot_feedback .feedback_contacts .contact_item
    width: 100%
    margin-bottom: 20px
  #whyWe .why_form .field_group input
    width: 100%
  #whyWe .why_form .field_group button
    width: 100%
  #whyWe .why_form .h5
    font-size: 26px
    line-height: 30px
@media all and (max-width: 480px)
  .our-serv .container .our-serv-right-left
    padding: 20px
    ul
      li
        font-size: 12px
        margin-left: 0
        &::after
          display: none
@media all and (max-width: 440px)
  //.services .container .services-item-visible
  //  padding: 10px 5px
  //.services .container .services-item-visible-name img
  //  margin-right: 5px
  //  width: 24px
  //  height: 20px
  //.services .container .services-item-visible-name p
  //  font-size: 10px
  .lets-start .container .order-list-item .text p
    font-size: 22px
  .lets-start .container .order-list-item .numb
    margin-right: 10px
  #prevSec
    left: 0
  .we-offer .container .we-offer-left p.h3
    font-size: 34px
  .we-offer .container .we-offer-left img
    width: 300px
    margin: 0 auto
    display: block
    margin-bottom: 20px
  .we-offer .container .we-offer-left form
    margin: 0 auto
    input
      width: 300px
  header .container .logo-wrapper .logo
    width: 120px
    margin-top: 5px
  header .container .logo-wrapper .menu-button
    margin-right: 9px
  header .container .logo-wrapper .menu-button span
    width: 22px
    margin-bottom: 5px
  header .container .call-back-wrapper button
    font-size: 11px
    width: 130px
  .actions-slider .container .actions-slider-wrapper .actions-slider-item-content
    padding: 20px
    p
      font-size: 25px
      line-height: inherit
      width: auto
@media all and (min-width: 1060px)
  .sec-menu .container .sec-menu-wrapper form input
    transition: all .3s ease
    &:focus
      width: 270px